body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
  text-align: center;
}

h1 {
  font-size: 50px;
  font-weight: normal;
}

h2 {
  font-size: 42px;
  font-weight: 300;
}

h1, h2 {
  color: white;
}

p {
  font-size: 21px;
  color: gray;
}

footer {
  text-align: right;
}

.cta {
  color: aquamarine;
  font-size: 16px;
}

#coming-soon img {
  margin-top: 22px;
}